{% extends 'attendance/basic.html' %}

{% block title %}Attendance Home{% endblock %}

{% block css %}
{% endblock %}

{% block body %}
<div class="container-fluid text-center">
  <br>
  <h1 class="mt-4">Danh sách điểm danh</h1>
  <br>
  <div class="table-responsive" style="height: 100%;">
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th scope="col">Họ Tên</th>
          <th scope="col">Mã Sinh Viên</th>
          <th scope="col">Lớp</th>
          <th scope="col">Check-in</th>
          <th scope="col">Check-out</th>
        </tr>
      </thead>
      <tbody>
        {% for log in logs %}
        <tr>
          <td>{{ log.student.name }}</td> <!-- Họ tên sinh viên -->
          <td>{{ log.student.masv }}</td> <!-- Mã sinh viên -->
          <td>{{ log.student.class_name }}</td> <!-- Lớp -->
          <td>{{ log.time_in|date:"H:i:s d/m/Y" }}</td> <!-- Thời gian check-in -->
          <td>
            {% if log.time_out %}
            {{ log.time_out|date:"H:i:s d/m/Y" }} <!-- Thời gian check-out (nếu có) -->
            {% else %}
            Chưa check-out
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
      </tbody>
    </table>
  </div>
</div>


{% endblock %}
{% block js %}
<script>
  $(document).ready(function () {
    const ws = new WebSocket('ws://' + window.location.host + '/ws/notifications/');

    // Thiết lập sự kiện cho WebSocket
    ws.onopen = () => {
      console.log('Kết nối WebSocket đã được thiết lập');
    };

    ws.onerror = (error) => {
      console.error('Lỗi WebSocket: ', error);
    };

    ws.onclose = () => {
      console.log('Kết nối WebSocket đã bị đóng');
    };

    ws.onmessage = (event) => {
      // Khi nhận được tin nhắn từ WebSocket, gửi yêu cầu AJAX để cập nhật bảng
      $.ajax({
        url: "{% url 'index' %}",  // Thay thế 'relay' bằng URL xử lý cập nhật bảng của bạn
        method: 'GET',
      }).done(function (data) {
        const $data = $(data);
        // Cập nhật nội dung bảng với dữ liệu mới
        $('table tbody').html($data.find('table tbody').html());
      }).fail(function (xhr, status, error) {
        console.error('Lỗi khi tải dữ liệu: ', error);
      });
    };
  });
</script>


{% endblock %}